.page-item.active .page-link{
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}
.page-link{
    color: var(--bs-dark);
}
.page-link:focus,
.page-link:hover
{
    color: var(--bs-dark);
}
